@use "../../../../assets/styles/variables" as variables;
@use "../../../../assets/styles/mixins" as mixins;

.filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 120px;

    @include mixins.respond-max(lg) {
        flex-direction: column;
        margin-bottom: 60px;
    }

    >div>h2 {
        font-size: 22px;
        color: variables.$color-primary;
        font-weight: 700;

        @include mixins.respond-max(sm) {
            font-size: 18px;
        }
    }

    span {
        color: #8A8FB9;
        font-size: 12px;

        @include mixins.respond-max(sm) {
            font-size: 10px;
        }
    }
}

.toolbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 24px;
    padding: 1rem 0;
    font-size: 14px;
    color: #3F509E;

    .item {
        display: flex;
        align-items: center;
        gap: 8px;
        flex: 1 1 auto;

        .perPage,
        .sortBy,
        .search {
            padding: 0.4rem 0.6rem;
            border: 1px solid #E7E6EF;
            color: #8A8FB9;
            height: 28px !important;
        }

        .perPage {
            width: 55px !important;
        }

        .sortBy {
            width: 156px !important;
        }

        .search {
            width: 162px !important;
            color: #3f3f7a;
            display: flex;
            align-items: center;
        }

        .iconButton {
            border: none;
            background: transparent;
            cursor: pointer;
            color: #3f3f7a;
            padding: 4px;
            display: flex;
            align-items: center;

            &:hover {
                color: #ff497c;
            }
        }

        .buttonContainer {
            display: flex;
            gap: 0px !important;
        }

        label {
            white-space: nowrap;
        }

        @include mixins.respond-max(md) {
            flex-direction: column;
            align-items: flex-start;

            label {
                margin-bottom: 4px;
            }

            .perPage,
            .sortBy,
            .search {
                width: 100% !important;
            }

            .buttonContainer {
                gap: 8px !important;
            }
        }
    }

    .view {
        display: flex;
        gap: 2px !important;
        align-items: center;
    }

    // Responsive wrap
    @include mixins.respond-max(lg) {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 16px;
        justify-content: flex-start;

        .item {
            flex: 1 1 auto;
        }

        .item:last-child {
            flex: 1 1 100%;

            .search {
                width: 100% !important;
            }

            .buttonContainer {
                gap: 8px !important;
            }
        }
    }

    @include mixins.respond-max(sm) {
        font-size: 12px;
        gap: 12px;
    }
}