@use "../../../assets/styles/variables" as variables;
@use "../../../assets/styles/mixins" as mixins;

.card {
    position: relative;
    text-align: center;
    background: #f9f9f9;
    border-radius: 8px;
    overflow: hidden;

    &:hover .iconContainer {
        opacity: 1;
        transform: translateY(0);
    }

    .iconContainer {
        position: absolute;
        top: 40%;
        left: 10px;
        transform: translateY(-50%);
        display: flex;
        flex-direction: column;
        gap: 6px;
        opacity: 0;
        transition: all 0.3s ease;
        z-index: 10;

        svg {
            font-size: 6px;
            padding: 4px;
            width: 18px;
            height: 18px;
            box-sizing: content-box;
            color: variables.$color-secondary;
            border-radius: 50%;
            cursor: pointer;
            transition: 0.2s ease;
            display: flex;
            align-items: center;
            justify-content: center;

            &:hover {
                background: #f3f3fd;
            }
        }

        @include mixins.respond-max(md) {
            transform: translateY(0);
            opacity: 1;
        }

    }

    .iconWrapper {
        position: relative;
        width: 24px;
        height: 24px;
    }

    .spinner {
        width: 100%;
        height: 100%;
        border: 3px solid rgba(0, 0, 0, 0.1);
        border-top: 3px solid variables.$color-secondary;
        border-radius: 50%;
        animation: spin 0.6s linear infinite;
    }

    @keyframes spin {
        to {
            transform: rotate(360deg);
        }
    }

    .icon {
        cursor: pointer;
        width: 100%;
        height: 100%;
    }

    .saleBadge {
        position: absolute;
        top: 0px;
        left: -6px;
    }

    .image {
        width: 100%;
        height: 220px;
        object-fit: cover;
        user-select: none;
    }

    .info {
        margin-top: 16px;
        display: flex;
        justify-content: space-between;
        padding-bottom: 4px;
    }

    .title {
        font-size: 0.875rem;
        color: variables.$color-secondary;
        border-bottom: 1px solid #EEEFFB;
    }

    .price {
        font-size: 0.875rem;
        color: variables.$color-secondary;

        .oldPrice {
            color: red;
            text-decoration: line-through;
            font-size: 0.75rem;
            margin-left: 4px;
        }
    }
}