@use "variables";
@use "mixins";
@use "reset";
@use 'fonts';

body {
    font-family: fonts.$font-primary;
    font-size: variables.$font-base
}

.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;

    @include mixins.respond-min(sm) {
        max-width: variables.$screen-max-width-sm;
    }

    @include mixins.respond-min(md) {
        max-width: variables.$screen-max-width-md;
    }

    @include mixins.respond-min(lg) {
        max-width: variables.$screen-max-width-lg;
    }

    @include mixins.respond-min(xl) {
        max-width: variables.$screen-max-width-lg;
    }

    @include mixins.respond-min(2xl) {
        max-width: variables.$screen-max-width-lg;
    }
}

#nprogress {
    pointer-events: none;
}

#nprogress .bar {
    background: white;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 3.5px;
}

.swiper-pagination-bullet {
    background-color: #fc3ecb;
    opacity: 0.5;
}

.swiper-pagination-bullet-active {
    opacity: 1;
    color: #FB2E86 !important;
}
